Write a Python program to convert kilometers to miles?

In [10]:
value_k = float(input("Enter value in kilometers: "))
factor = 0.621371
print(f'{value_k} kilometers is equal to {factor*value_k} miles')

Enter value in kilometers: 23
23.0 kilometers is equal to 14.291533 miles

Write a Python program to convert Celsius to Fahrenheit?

In [11]:
value_c = float(input("Enter temperature value in degree Celsius: " )) 
print(f'{value_c} degree Celsius is equal to {(value_c * 1.8) + 32} degree Fahrenhit')

Enter temperature value in degree Celsius: 56
56.0 degree Celsius is equal to 132.8 degree Fahrenhit

Write a Python program to display calendar?

In [12]:
import calendar
print(calendar.calendar(int(input("Enter the year: "))))

Enter the year: 2000
                                  2000

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6             1  2  3  4  5
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       6  7  8  9 10 11 12
10 11 12 13 14 15 16      14 15 16 17 18 19 20      13 14 15 16 17 18 19
17 18 19 20 21 22 23      21 22 23 24 25 26 27      20 21 22 23 24 25 26
24 25 26 27 28 29 30      28 29                     27 28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

Write a Python program to solve quadratic equation?

In [13]:
import cmath

a = int(input("Please enter the x square factor of the equation: "))
b = int(input("Please enter the x factor of the equation: "))
c = int(input("Please enter the constant factor of the equation: "))

d = (b**2) - (4*a*c)

solution1 = (-b-cmath.sqrt(d))/(2*a)
solution2 = (-b+cmath.sqrt(d))/(2*a)
print(f"The possible values for x of the given equation are: {solution1} and {solution2}")

Please enter the x square factor of the equation: 1
Please enter the x factor of the equation: 3
Please enter the constant factor of the equation: 5
The possible values for x of the given equation are: (-1.5-1.6583123951777j) and (-1.5+1.6583123951777j)

Write a Python program to swap two variables without temp variable?

In [14]:
x = int(input("Please enter the first value: "))
y = int(input("Please enter the second value: "))

print(f'The value of x befor swapping: {x}')
print(f'The value of y before swapping: {y}')

x , y = y , x

print(f'The value of x after swapping: {x}')
print(f'The value of y after swapping: {y}')

Please enter the first value: 34
Please enter the second value: 43
The value of x befor swapping: 34
The value of y before swapping: 43
The value of x after swapping: 43
The value of y after swapping: 34